<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloc de Compétences : Support et mise à disposition de services informatiques</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <style>
/* Style général de la page */
body {
    background-color: #f2f2f2;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* Menu en haut */
.header {
  background-color: #000033; /* Bleu foncé */
  color: #ffffff; /* Blanc */
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

/* Conteneur principal */
.content {
    text-align: justify;
    padding: 20px;
    margin-top: 70px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

 /* Pour tous les éléments img à l'intérieur des sections .comp */
    #comp1 img,
    #comp2 img,
    #comp3 img,
    #comp4 img,
    #comp5 img,
    #comp6 img {
        max-width: 60%; /* La largeur maximale des images est de 100% */
        height: auto; /* L'hauteur est ajustée automatiquement pour préserver les proportions */
        display: block; /* Assurez-vous que les images sont alignées au centre horizontalement */
        margin: 0 auto; /* Centrez les images horizontalement */
        text-align: center; /* Centrez également le texte autour de l'image si nécessaire */
    }

/* Media queries pour la mise en page responsive */
@media (max-width: 768px) {
    .content {
        padding: 10px;
    }

    .comp1, .comp2, .comp3, .comp4, .comp5, .comp6 {
        margin: 10px auto;
    }
}

    </style>
</head>

<body>
    <nav class="header">
        <div class="header">
            <a href="/src/views/parcours.html" width="300" height="200">Parcours</a>
            <a href="/src/views/projetIndex.html">Projets</a>
            <a href="/src/views/veille.html">Veille</a>
            <a href="/src/views/documents.html">Documents</a>
            <a href="/index.html#contactez-moi">Contact</a>
        </div>
    </nav>
    <div class="content">
        <div id="comp1">
            <h2 >Gérer le patrimoine informatique</h2>
            <img src="images/g@ci.jpg" alt="Document 1">
            <p>
                Gérer un patrimoine informatique fait partie du bloc de compétences à acquérir lors du BTS SIO. 
                J'ai pu acquérir cette compétence dans le cadre de missions remplies au sein de mon entreprise.
            </p>
            <p>
                En effet, j'ai pu, à l'aide du GLPI dont nous disposons, effectuer les tâches suivantes :
            </p>
            <ul>
                <li>Recensement et identification des ressources numériques au sein de notre organisation.</li>
                <li>Mise en place et vérification des niveaux d’habilitation associés à un service.</li>
            </ul>
            <p>
                Dans le cadre de la gestion de la Hotline de mon service, j'ai également eu l'opportunité de :
            </p>
            <ul>
                <li>Modifier et/ou corriger les habilitations attribuées à un service.</li>
            </ul>
            <p>
                Au sein de mon service, nous effectuons tous les jours ce que nous appelons "l'exploitation informatique", 
                ce qui m'a permis d'acquérir de l'expérience dans les domaines suivants :
            </p>
            <ul>
                <li>Exploitation des référentiels, normes et standards adoptés par notre organisation.</li>
                <li>Vérification des conditions de la continuité d’un service informatique.</li>
                <li>Gestion des sauvegardes.</li>
                <li>Intervention auprès des utilisateurs pour vérifier le respect des règles d’utilisation des ressources numériques, dont mon service est responsable.</li>
            </ul>
            <p>
                Vous pouvez trouver l'ensemble des documents faisant référence à cette compétence en cliquant sur le lien ci-dessous :
            </p>
            <a href="proceduresGPI.pdf">lien</a>
        </div>

        <div id="comp2">
            <h2>Répondre aux incidents et aux demandes d’assistance et d’évolution</h2>
            <img src="images/hotline.jpg" alt="Document 2">
            <p>
                Répondre aux incidents et aux demandes d’assistance et d’évolution fait partie du bloc de compétences à acquérir lors du BTS SIO.
            </p>
            <p>
                Dans le cadre de mon travail au sein de la CAF du 47 et notamment de mes missions liées à la gestion de la hotline j'ai pu répondre aux incidents et aux demandes d’assistance en :
            </p>
            <ul>
                <li>Collectant, en effectuant un suivi auprès de certains utilisateurs et en orientant leurs demandes de façon productive. 
                    Effectivement la ré-orientation de certaines demandes par l'attribution de tickets au technicien informatique adéquat 
                    est un point important au sein de l'organisation et joue sur la réactivité du service.</li>
                <li>Effectuant le traitement des demandes concernant les applicatifs internes à la CAF d'Agen, services réseau et système.</li>
                <li>Effectuant le traitement des demandes concernant les applications internes à l'entreprise.</li>
            </ul>
            <p>
                Vous pouvez trouver l'ensemble des documents faisant référence à cette compétence en cliquant sur le lien ci-dessous :
            </p>
            <a href="document2.pdf">lien</a>
        </div>

        <div id="comp3">
            <h2>Développement de la présence en ligne de l’organisation</h2>
            <img src="images/prenligne.jpg" alt="Document 3">
            <p>
                Le développement de la présence en ligne d'une organisation fait partie du bloc de compétences à acquérir lors du BTS SIO.
            </p>
            <p>
                J'ai pu acquérir cette compétence par le biais de projets au sein de mon établissement de formation et de projets personnels. 
                En effet, j'ai pu dans le cadre de ma formation et de travail personnel apprendre comment créer un site web :
            </p>
            <ul>
                <li>En le développant moi-même avec plusieurs langages de développement tels que : HTML, CSS, JavaScript, PHP.</li>
                <li>Ou par le biais de CMS : Wordpress.</li>
            </ul>
            <p>
                Mes cours en cybersécurité et les différents TP effectués dans cette matière m'ont permis de tenir compte du cadre juridique 
                et des enjeux économiques liés à la valorisation de l'image de marque d'une entreprise lors de la création de son site web. 
                Ces TP m'ont également permis d'aborder les thèmes suivants nécessaires à l'obtention de cette compétence :
            </p>
            <ul>
                <li>Le référencement des services d'une organisation et la mesure de leur visibilité.</li>
                <li>La participation à l’évolution d’un site Web exploitant les données de son organisation.</li>
            </ul>
            <p>
                Vous pouvez trouver l'ensemble des documents faisant référence à cette compétence en cliquant sur le lien ci-dessous :
            </p>
            <a href="document3.pdf">lien</a>
        </div>

        <div id="comp4">
            <h2>Travail en mode projet</h2>
            <img src="images/modeprojet.jpg" alt="Document 3">
            <p>
                Le travail en mode projet fait partie du bloc de compétences à acquérir lors du BTS SIO.
            </p>
            <p>
                J'ai pu acquérir cette compétence principalement dans le cadre de la réalisation de mon projet d'application web pour la CAF47. J'ai également pu aborder l'obtention de cette compétence par le biais de plusieurs TP au sein de l'UFA47, notamment sur durant la matière "Support informatique". L'obtention de cette compétence regroupe les éléments suivants :
            </p>
            <ul>
                <li>L'analyse des objectifs et des modalités d’organisation d’un projet.</li>
                <li>La planification des activités.</li>
                <li>L'évaluation des indicateurs de suivi du dit projet et l'analyse des écarts rencontrés.</li>
            </ul>
            <p>
                Vous pouvez trouver l'ensemble des documents faisant référence à cette compétence en cliquant sur le lien ci-dessous :
            </p>
            <a href="document4.pdf">lien</a>
        </div>

        <div id="comp5">
            <h2>Mise à disposition des utilisateurs d’un service informatique</h2>
            <img src="images/outilnum.png" alt="Document 4">
            <p>
                La mise à disposition des utilisateurs d’un service informatique fait partie du bloc de compétences à acquérir lors du BTS SIO. Cette compétence regroupe trois points essentiels :
            </p>
            <ul>
                <li>Les tests d’intégration et d’acceptation d’un service informatique.</li>
                <li>Le déploiement d’un service.</li>
                <li>L'accompagnement des utilisateurs dans la mise en place d’un service.</li>
            </ul>
            <p>
                L'obtention de cette compétence est en cours d'acquisition car les points abordés pour l'obtenir font partie intégrante de mon projet d'application web à réaliser pour mon entreprise.
            </p>
            <p>
                Vous pouvez trouver l'ensemble des documents faisant référence à cette compétence en cliquant sur le lien ci-dessous :
            </p>
            <a href="document5.pdf">lien</a>
        </div>

        <div id="comp6">
            <h2>Organisation de son développement professionnel</h2>
            <img src="images/veille.jpg" alt="Document 5">
            <p>
                L'organisation de son développement professionnel fait partie du bloc de compétences à acquérir lors du BTS SIO et passe par :
            </p>
            <ul>
                <li>La mise en place de son environnement d’apprentissage personnel.</li>
                <li>La mise en œuvre d’outils et de stratégie veille informationnelle.</li>
                <li>La gestion de son identité professionnelle.</li>
                <li>Le développement de son projet professionnel.</li>
            </ul>
            <p>
                J'ai pu obtenir cette compétence en :
            </p>
            <ul>
                <li>Suivant des cours et tutoriels sur des domaines m'intéressant et ayant un rapport avec ma formation : Cours Dyma, FreeCodeCamp.</li>
                <li>Utilisant un outil de récupération de flux RSS afin d'organiser ma veille : Feedly.</li>
                <li>Gérant efficacement mon réseau LinkedIn.</li>
                <li>En continuant à travailler sur mon projet d'application pour la CAF d'Agen.</li>
            </ul>
            <p>
                Vous pouvez trouver l'ensemble des documents faisant référence à cette compétence en cliquant sur le lien ci-dessous :
            </p>
            <a href="document6.pdf">lien</a>
        </div>
    </div>

    <div class="footer">
        <p>Copyright © 2023 Ma Page de Documents</p>
    </div>
</body>

</html>
