<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Parcours Professionnel</title>
    <link rel="stylesheet" href="../../assets/css/styleparcours.css">
</head>
<body>
    <header>
      <h1>Mon Parcours Professionnel</h1>
      <nav>
        <a href="../../index.html">Accueil</a>
        <a href="../../src/views/projetIndex.html">Projets</a>
        <a href="src/views/veille.html">Veille</a>
        <a href="src/views/documents.html">Documents</a>
        <a href="/index.html#contactez-moi">Contact</a>
      </nav>
    </header>

    <div class="parcours-container">
            <img src="../../assets/images/cv.jpg" alt="Mon CV" width="350" height="350"> 
            <p><strong>MON CV</strong></p>
            <a href="../../assets/docs/CV2023.pdf" target="_blank" download>
               
             <img src="../../assets/images/doigt.jpg" alt="Doigt" width="20" height="20">
                N'hésitez pas, téléchargez moi !
            </a>
        
    </div>        
    </div>
</body>
</html>
